
form{
    width: 500px;
    margin: 50px auto;
}

form h5{
    color: grey;
    text-align: center;
}

form h3{
    text-align: center;
}

.container label{
    display: inline;
    width: 100%;
    font-size: 13px; 
 
}
.container span{
    color: red;
}
.container input{
    width: 100%;
    background-color: rgb(236, 232, 232) ;
    border: none;
    border-radius: 5px;
    height: 25px;
}
.container a{
    margin-top: o;
    padding-top: 0;
}
#checkbox{
    width: fit-content;
}
button{
    display: block;
    width: 100%;
    background-color: rgb(142, 202, 182);
    border: none;
    padding: 15px;
    color: white;
    border-radius: 5px;
}
.container h6{
    color: grey;
    font-size: 12px;
    
}